---
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout title="Page Not Found">
  <section class="w-screen h-screen flex flex-col justify-center items-center">
    <h1
      class="mb-2 text-6xl text-center font-bold tracking-tight leading-none text-gray-900 dark:text-white"
    >
      404
    </h1>
    <p
      class="md:mb-6 mb-3 text-lg text-center lg:text-2xl sm:px-16 xl:px-48 px-4"
    >
      This page doesn't exist
    </p>
  </section>
</BaseLayout>
