---
export const prerender = true;

import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Home">
  <section class="w-screen h-screen flex flex-col justify-center items-center">
    <h1
      class="md:mb-4 mb-2 text-4xl text-center font-bold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white"
    >
      Mac's Online Racing Stats
    </h1>
    <p
      class="md:mb-6 mb-3 text-lg text-center text-gray-500 lg:text-2xl sm:px-16 xl:px-48 px-4 dark:text-gray-400"
    >
      Explore data visualisations from 24 races I've participated in with 4 of
      my friends and 15 bots
    </p>
    <div class="flex md:gap-5 gap-3">
      <a
        href="/visualisations/rounds"
        class="md:px-5 md:py-3 px-3 py-2 md:text-lg text-sm text-white text-center bg-blue-700 rounded-lg hover:bg-blue-900 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-700 dark:hover:bg-blue-900 dark:focus:ring-blue-800"
      >
        Select a round
      </a>
      <button
        type="button"
        class="md:px-5 md:py-3 px-3 py-2 md:text-lg text-sm text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
      >
        Learn more
      </button>
    </div>
  </section>
</BaseLayout>
