---
import BaseLayout from '@/layouts/BaseLayout.astro';

import ColumnTotalPointsScored from '@/components/charts/championships/drivers/ColumnTotalPointsScored.astro';
import PieNumPolePositions from '@/components/charts/championships/drivers/PieNumPolePositions.astro';
import PieNumRaceWins from '@/components/charts/championships/drivers/PieNumRaceWins.astro';
import PieNumFastestLaps from '@/components/charts/championships/drivers/PieNumFastestLaps.astro';
import StandingsWithRaceResults from '@/components/ui/visualisations/StandingsWithRaceResults.astro';
---

<BaseLayout title="Drivers' Championship">
  <h1 class="text-4xl text-center font-bold mt-28 mb-10">
    Drivers' Championship
  </h1>
  <div class="w-4/5 mx-auto grid grid-cols-6 grid-rows-5 gap-7">
    <div
      class="px-4 pt-6 col-span-6 row-span-3 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
    >
      <ColumnTotalPointsScored />
    </div>
    <div
      class="p-4 col-span-2 row-span-2 row-start-4 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
    >
      <PieNumPolePositions />
    </div>
    <div
      class="p-4 col-span-2 row-span-2 row-start-4 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
    >
      <PieNumRaceWins />
    </div>
    <div
      class="p-4 col-span-2 row-span-2 col-start-5 row-start-4 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
    >
      <PieNumFastestLaps />
    </div>
  </div>
  <h2 class="text-3xl text-center font-bold mt-8 mb-4">Drivers' Standings</h2>
  <StandingsWithRaceResults championship="drivers" />
</BaseLayout>
