---
import BaseLayout from './BaseLayout.astro';

export interface Props {
  title: string;
}

const { title } = Astro.props;
const { roundName } = Astro.locals;
const headerTitle = roundName ? `${roundName} - ${title}` : title;
---

<BaseLayout title={headerTitle}>
  <section class="mx-auto pt-40 pb-12">
    <h1 class="text-4xl text-center font-bold mb-6">
      {headerTitle}
    </h1>
    <slot />
  </section>
</BaseLayout>
