<footer class="w-full text-center bg-white p-6 dark:bg-gray-800">
  <p>
    &copy; {new Date().getFullYear()} Maciej Pędzich
  </p>
  <hr class="my-4 max-w-xs border-gray-200 sm:mx-auto dark:border-gray-700" />
  <p>
    This website is unofficial and is not associated in any way with the Formula
    1 companies. F1, FORMULA ONE, FORMULA 1, FIA FORMULA ONE WORLD CHAMPIONSHIP,
    GRAND PRIX and related marks are trade marks of Formula One Licensing B.V.
  </p>
</footer>
