---
import DropdownBottomIcon from '../icons/DropdownBottomIcon.astro';
import HamburgerIcon from '../icons/HamburgerIcon.astro';
import ThemeSwitch from './ThemeSwitch.astro';
---

<nav
  aria-label="Main menu"
  class="w-full bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700 top-0 left-0"
>
  <div class="max-w-screen-xl flex flex-wrap items-center mx-auto p-4">
    <button
      data-collapse-toggle="navbarDropdown"
      type="button"
      class="inline-flex items-center mr-2 p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
      aria-controls="navbarDropdown"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <HamburgerIcon />
    </button>
    <a
      href="/"
      title="Mac's Online Racing Stats"
      class="self-center text-2xl mr-8 font-semibold whitespace-nowrap dark:text-white hover:opacity-50"
    >
      MORS
    </a>
    <div id="navbarDropdown" class="hidden w-full md:block md:w-auto">
      <ul
        class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 dark:border-gray-700"
      >
        <li>
          <button
            id="visualisationsDropdownButton"
            data-dropdown-toggle="visualisationsDropdownMenu"
            class="flex items-center justify-between w-full py-2 pl-3 pr-4 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 dark:text-white md:hover:text-blue-700 md:p-0 md:w-auto md:dark:hover:text-blue-500 dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent"
          >
            Visualisations
            <DropdownBottomIcon />
          </button>
          <div
            id="visualisationsDropdownMenu"
            class="z-10 hidden font-normal drop-shadow-xl border border-gray-500 bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600"
          >
            <ul
              class="py-2 text-sm text-gray-700 dark:text-gray-400"
              aria-labelledby="visualisationsDropdownButton"
            >
              <li>
                <a
                  href="/visualisations/rounds"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                  >Select Round</a
                >
              </li>
              <li>
                <a
                  href="/visualisations/championships/drivers"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                  >Drivers' Championship</a
                >
              </li>
              <li>
                <a
                  href="/visualisations/championships/teams"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                  >Teams' Championship</a
                >
              </li>
            </ul>
          </div>
        </li>
        <li>
          <a
            href="/head-to-head"
            class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
            >Head-to-head</a
          >
        </li>
        <li>
          <a
            href="/acknowledgements"
            class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
            >Acknowledgements</a
          >
        </li>
        <li>
          <a
            href="https://github.com/maciejpedzich/mors"
            target="_blank"
            class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
            >GitHub</a
          >
        </li>
      </ul>
    </div>
    <div class="flex-1"></div>
    <ThemeSwitch />
  </div>
</nav>
